<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>
<script type="text/javascript" src="../getResource?path=js/jauth.js"></script>
<link type="text/css" rel="stylesheet" href="../getResource?path=css/jauth.css" />
</head>
<body>
	<h2>ROLE DETAIL</h2>
	<hr>
	<form name="<#if role??>update<#else>save</#if>" action="<#if role??>update<#else>save</#if>" method="post">
		<table class="data_table">
			<tr>
				<td width="150" class="tr_title">RoleId</td>
				<td width="250"><input type="text" name="roleId" value="${(role.roleId)!0}" readonly="true" /></td>
			</tr>
			<tr>
				<td width="150" class="tr_title">Name</td>
				<td width="250"><input type="text" name="name" value="${(role.name)!''}" /></td>
			</tr>
			<tr>
				<td width="200" class="tr_title">&nbsp;</td>
				<td width="250"><input type="submit" value="Commit" />&nbsp;<input type="reset" value="Reset" />&nbsp;<input type="button" value="Cancel" onClick="javascript:history.go(-1)" /></td>
			</tr>
		</table>
	</form>
</body>
</html>